/* input box within the form */
.input{
    width: 55%;
    margin: 0 2%;
    border-radius: 18px;
    text-align:left;
}

/* buttons inside the form */
.formBtn{
    width: 100px;
    margin: 0 2%;
    height: 31px;
    color: white;
    font-size: 14px;
    border-radius: 18px;
    font-weight: normal;
    text-transform: uppercase;
    box-shadow: 0 5px 15px
}


/* clear button */
.clearBtn{
    background-color:#8e6ff6;
    border-radius: 18px;
}

/* add button */
.addBtn{
    background-color:#3235b9;
    border-radius: 18px;
}

h1{
    color: white;
}